title: Travaux pratiques
nav:
    - assignment1.md
    {%- if extra.assignment_week | int | int >= 2 %}
    - assignment2.md
    {%- endif %}
    {%- if extra.assignment_week | int >= 3 %}
    - assignment3.md
    {%- endif %}